body {
  margin: 0 auto;
  width: 90%;
  min-width: 960px;
  background: #e2e2e2;
}
#left-body {
  background: #fff;
  height: 400px;
  width: 78%;
}
#right-body {
  background: #00ff90;
  height: 400px;
  width: 20%;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.mainMenu {
  background: #4f86f8;
  border-radius: 10px;
  padding: 10px;
}
.mainMenu a {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  border-right: 1px solid #fff;
}
